.page-template-page-amenities {

    .feature-amenities-wrapper {
        margin-bottom: 3em;
    }

    .section-header {
        margin-bottom: 1.250em;

        @include respond-to(medium) {
            margin-bottom: 1.688em;
        }
    }

    #features-section {
        margin-bottom: 4em;

    }
    .features-wrapper,
    .amenities-wrapper {
        @include max-width(1200px);
        @include padding-left-right;
        font-size: 0;
        padding: 0;
        margin: -5px;
    }

    .highlight {
        position: relative;
        display: inline-block;
        height: 0;
        width: 100%;
        padding-top: 100%;
        height: auto;
        font-size: 20px;
        color: $color__brand-brown;
        font-weight: bold;
        text-align: center;
    }

    .highlight-inner.has-img {
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .2;

      .highlight-inner-content {
        opacity: 1;

        .title {
          // padding: 1em;
        }
      }
    }

    .highlight-inner {
      background-color: rgba(0, 0, 0, .1);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 1px;
      bottom: 1px;
      right: 1px;
      left: 1px;
      text-align: center;

      .highlight-inner-content {

        .title {
          // padding: 1em;
        }
      }
    }

    .disclaimer {
        font-size: 0.8125rem;
        font-family: $font__regular;
        text-align: center;
        padding-top: 2em;

        @include respond-to(medium) {
            font-size: 1rem;
        }
    }


    // JS related styles for active windows
    .highlight-inner.active img,
    .highlight-inner.active .close {
        opacity: 1;
    }

    .hihglight-inner.active .close:hover {
        cursor: pointer;
    }

    .highlight-inner.active span,
    .highlight-inner.active .view {
        opacity: 0;
    }

    .highlight-inner.active span,
    .highlight-inner.active .view:hover {
        cursor: default;
    }

    // for equal spacing of text inside highlight
    .hide-btn {
        // visibility: hidden;
        display: none;
    }

    @media (min-width: 480px) {
      .highlight {
        width: 33.3333%;
        padding-top: 33.3333%;
      }
    }
    @media (min-width: 768px) {
      .highlight {
        width: 25%;
        padding-top: 25%;
      }
    }
    @media (min-width: 968px) {
      .highlight {
        width: 20%;
        padding-top: 20%;
      }
    }
}