.page-template-page-amenities {

    .feature-amenities-wrapper {
        margin-bottom: 3em;
    }

    .section-header {
        margin-bottom: 1.250em;

        @include respond-to(medium) {
            margin-bottom: 1.688em;
        }
    }

    #features-section {
        margin-bottom: 4em;

    }
    .features-wrapper,
    .amenities-wrapper {
        @include max-width(1200px);
        @include padding-left-right;
        display: flex;
        flex-wrap:wrap;
        justify-content: start;
        // margin: 0 -1px;
    }

    .has-img {
        background-color: transparent;
    }

    .highlight {
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: stretch;
        font-family: $font__regular;
        border: 1px solid #FFF;
        background-color: rgba(0, 0, 0, .1);
        overflow: hidden;

        &:after {
            content: '';
            display: table;
            padding-top: 100%;
        }

        .highlight-inner {
            flex-grow: 1;
            text-align: center;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            // padding: 1em;

            .title {
                text-transform: uppercase;
                font-size: 1.05rem;
                line-height: 1.1;
                font-family: $font__regular;
                padding: .5em;
                position: relative;
                z-index: 5;
                transition: opacity .25s ease-in-out ;
            }

            img {
                position: absolute;
                left: 1px;
                right: 1px;
                top: 1px;
                bottom: 1px;
                margin: auto;
                width: 100%;
                z-index: 1;
                opacity: .2;
                transition: opacity .25s ease-in-out ;
            }

            .view {
                font-size: 0.8667rem;
                position: relative;
                z-index: 5;
                background-color: transparent;
                text-decoration: underline;
                transition: opacity .25s ease-in-out ;

                &:hover {
                    cursor: pointer;
                }

                @include respond-to('medium') {
                    font-size: 1.067rem;
                    padding: 0;
                }

                @include respond-to('large') {
                    font-size: 1rem;
                }
            }

            .close {
                position: absolute;
                top: .3em;
                right: .3em;
                opacity: 0;
                color: #fff;
                font-size:  1.733rem;
                background-color: $color__brand-red;
                font-family: $font__bold;
                text-decoration: none;
                display: inline-block;
                width: 40px;
                height: 40px;
                padding: 0;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                border-radius: 50%;
                border: 3px solid #fff;
                box-shadow:
                    0 0 0 1px hsl(0, 0%, 100%);
                z-index: 2;

                &:hover {
                    cursor: pointer;
                }

                @include respond-to(medium) {
                    width: 45px;
                    height: 45px;
                    font-size: 1.667rem;
                }
            }
        }

        @include respond-to('small-land') {
            flex-basis: calc(100% / 3);

            .highlight-inner {

                .title {
                    font-size: 1.2rem;
                    padding: 1em;
                }
            }
        }

        @include respond-to('tablet') {
            flex-basis: calc(100% / 4);

            .highlight-inner {

                .title {
                    font-size: 1.2rem;
                    padding: 1.2em;
                }
            }
        }

        @include respond-to('medium') {
            flex-basis: calc(100% / 5);

            .highlight-inner {

                .title {
                    font-size: 1.3rem;
                    padding: 1.5em;
                }
            }
        }
    }

    .disclaimer {
        font-size: 0.8125rem;
        font-family: $font__regular;
        text-align: center;
        padding-top: 2em;

        @include respond-to(medium) {
            font-size: 1rem;
        }
    }


    // JS related styles for active windows
    .highlight-inner.active img,
    .highlight-inner.active .close {
        opacity: 1;
    }

    .hihglight-inner.active .close:hover {
        cursor: pointer;
    }

    .highlight-inner.active span,
    .highlight-inner.active .view {
        opacity: 0;
    }

    .highlight-inner.active span,
    .highlight-inner.active .view:hover {
        cursor: default;
    }

    // for equal spacing of text inside highlight
    .hide-btn {
        // visibility: hidden;
        display: none;
    }
}